<launch>
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find gazebo_sfm_plugin)/media/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find gazebo_sfm_plugin)/media/models"/>
  
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)"/>
  <arg name="map_file" default="/home/jose/TFM_jose_ws/mis_mapas/mi_mapa_bueno_mejorado.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="x_pos" default="-3.9"/>
  <arg name="y_pos" default="-1.5"/>
  <arg name="z_pos" default="0.2"/>
  <arg name="yaw" default="0.0"/>

  <!-- Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_sfm_plugin)/worlds/cafe3.world"/>
  </include>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Robot description -->
  <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>

  <!-- Spawn Robot -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" 
    args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw) -param robot_description" />

  <!-- Map server -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"/>

   <!-- AMCL -->
  <include file="$(find turtlebot3_navigation)/launch/amcl.launch">
    <arg name="initial_pose_x" value="6.96"/>
    <arg name="initial_pose_y" value="-4.2"/>
    <arg name="initial_pose_a" value="90"/>
  </include>

  <!-- move_base -->
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
  </group>

    <node name="task_coordinator" pkg="gazebo_sfm_plugin" type="task_coordinator" output="screen">
        <param name="num_pedestrians" type="int" value="3" />  <!-- 3 humanos -->
        <param name="num_robots"     type="int" value="1" />  <!-- 1 robots -->
    </node>

  <!-- Task Robot Controller Node -->
  <node pkg="gazebo_sfm_plugin" type="cafe_robot_system" name="task_robot_controller" output="screen"/>

</launch>